.swiper-slide img {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background: #F8F9FB;
    box-shadow: 0px 6.476px 6px 0px rgba(41, 41, 41, 0.08);
}

.swiper-wrapper {
    display: flex;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titulo {
    display: flex;
    justify-content: center;
    color: #354733;
    font-family: Garamond;
    font-size: 50px;
    font-style: normal;
    font-weight: bold;
    padding-bottom: 50px;
    gap: 15px;
}

.subtitle {
    color: #8A9B6E;
}

.nome {
    color: #354733;
    font-family: Lato;
}

.preco {
    color: #354733;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 154.5%;
}

.label {
    display: flex;
    height: 25px;
    width: 60px;
    justify-content: center;
    align-items: center;
    gap: 8.094px;
    color: var(--Primary-Avacado, #8A9B6E);
    font-family: Raleway;
    font-size: 12px;
    font-weight: 200;
    border-radius: 15px;
    border: 1.619px solid var(--Primary-Avacado, #8A9B6E);
    background: #F0F1EE;
}

.card {
    background-color: white;

}

