* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  color: #ffffff;
}

p {
  font-family: 'Raleway';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'EB Garamond';
}

body {
  overflow-x: hidden;
}